#textdomain wesnoth-lowr

[scenario]
    name= _ "Witchmire"
    id=03_Witchmire
    map_file=03_Witchmire.map
    next_scenario=03x_The_Intractable
    victory_when_enemies_defeated=no

    {INTRO_AND_SCENARIO_MUSIC elf-land.ogg revelation.ogg}
    {EXTRA_SCENARIO_MUSIC into_the_shadows.ogg}
    {EXTRA_SCENARIO_MUSIC the_deep_path.ogg}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
    {EXTRA_SCENARIO_MUSIC northerners.ogg}

    {DEFAULT_SCHEDULE}

    # story
    {STORY_WITCHMIRE}

    # side: Kalenz (player)
    [side]
        side=1
        {ELF_SETUP:PLAYER}
        {CHARACTER_STATS:KALENZ}

        # fog=yes
        # shroud=yes
        # share_vision=none

        {GOLD 100 80 80}

        income=0
        village_gold=0

        [unit]
            {CHARACTER_STATS:LANDAR}
            placement=leader
        [/unit]
    [/side]

    # side: saurians
    [side]
        side=2
        controller=ai
        allow_player=no
        # TODO: add name
        id="saur1"
        name=_"Saur1"
        type="Saurian Seer"
        canrecruit=yes

        {SAURIAN_SETUP}
        team_name="saurians"
        user_team_name=_"Saurians"

        recruit=Saurian Skirmisher, Saurian Augur

        {GOLD 50 60 60}
        {INCOME 0 1 2}

        [ai]
            time_of_day=dawn,morning,midday,afternoon,indoors
            grouping=defensive
            
            aggression=0.40
            caution=0.60
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
            {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
            {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }

            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=100.00
            [/goal]
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,midnight,second_watch,underground,deep_underground
            grouping=offensive
            
            aggression=0.75
            caution=0.25
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
            {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
            {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }

            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=100.00
            [/goal]
        [/ai]
        [ai]
            grouping=offensive
            aggression=0.75
            caution=0.25
            
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
            {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
            {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }

            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=100.00
            [/goal]
        [/ai]
    [/side]

    # side: saurians
    [side]
        side=3
        controller=ai
        allow_player=no
        # TODO: add name
        id="saur2"
        name=_"Saur2"
        type="Saurian Javelineer"
        canrecruit=yes

        {SAURIAN_SETUP}
        team_name="saurians"
        user_team_name=_"Saurians"

        recruit=Saurian Skirmisher, Saurian Augur

        {GOLD 50 60 60}
        {INCOME 0 1 2}

        [ai]
            time_of_day=dawn,morning,midday,afternoon,indoors
            grouping=defensive
            
            aggression=0.40
            caution=0.60
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
            {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
            {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }

            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=100.00
            [/goal]
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,midnight,second_watch,underground,deep_underground
            grouping=offensive
            
            aggression=0.75
            caution=0.25
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
            {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
            {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }

            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=100.00
            [/goal]
        [/ai]
        [ai]
            grouping=offensive
            aggression=0.75
            caution=0.25
            
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
            {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
            {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }

            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=100.00
            [/goal]
        [/ai]
    [/side]

    # side: orcs (blackcrest)
    [side]
        side=4
        allow_player=no
        # TODO: add name
        id="orcshaman1"
        name=_"orcshaman1"
        type="Orcish Sorceress"
        canrecruit=yes

        {BLACKCREST_SETUP}

        recruit="Orcish Grunt, Orcish Archer, Wolf Rider, Orcish Berserker, Goblin Impaler"

        {GOLD 50 60 60}
        {INCOME 0 1 2}

        [ai]
            time_of_day=dawn,morning,midday,afternoon,indoors
            grouping=defensive
            
            aggression=0.40
            caution=0.60
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
            {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
            {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }

            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=100.00
            [/goal]
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,midnight,second_watch,underground,deep_underground
            grouping=offensive
            
            aggression=0.75
            caution=0.25
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
            {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
            {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }

            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=100.00
            [/goal]
        [/ai]
        [ai]
            grouping=offensive
            aggression=0.75
            caution=0.25
            
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_diversity 0.8}
            {AI_SIMPLE_ALWAYS_ASPECT recruitment_randomness 0}
            {AI_SIMPLE_ALWAYS_ASPECT villages_per_scout 0}
            {AI_ASPECT recruitment_save_gold {AI_DEACTIVATE_SAVE_GOLD} }

            [goal]
                name=target
                [criteria]
                    side=1
                [/criteria]
                value=100.00
            [/goal]
        [/ai]
    [/side]

    {LIMIT_CONTEMPORANEOUS_RECRUITS 4 (Orcish Berserker) ({ON_DIFFICULTY 1 2 2})}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 4 (Goblin Impaler) ({ON_DIFFICULTY 1 2 2})}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 4 (Wolf Rider) ({ON_DIFFICULTY 1 2 2})}

    # side: wesmere hostages
    [side]
        side=5
        controller=ai
        no_leader=yes
        {ELF_SETUP}
        {PLAYER_TEAM}
        hidden=yes
        gold=0
        income=-2
        recruit=
        village_gold=0
        village_support=0
    [/side]

    # prestart event
    [event]
        name="prestart"

        # objectives


        # adjust recall costs
        {ADJUST_RECALL_COST 33 50 66}

        # clear variables of previous scenario
        {CLEAR_VARIABLE LoW_S2_phase,village_event}
    [/event]

    # death events
    {KALENZ_DEATH_EVENT}
    {LANDAR_DEATH_EVENT}
    {LOW_LOYAL_UNIT_DEATH_EVENT}
[/scenario]
