#textdomain wesnoth-low

#define LOW_BIGMAP
    [background_layer]
        image=maps/background.jpg
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
    [/background_layer]
    [background_layer]
        image=low-map.png
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
        base_layer=yes
    [/background_layer]
#enddef

#define LOW_TRACK STAGE
    [story]
        [part]
            show_title=yes
            {LOW_BIGMAP}
            {STAGE}
        [/part]
    [/story]
#enddef

